.default-linear {
  /* background-color: unset; */
  background-image: linear-gradient(135deg, #34AFE2 0%, #0274BE 100%);
}

.second-gradient {
  background: linear-gradient(165deg, rgba(52, 175, 226, 0.50) 0%, rgba(9, 199, 187, 0.50) 100%);
}

.text-gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(135deg, #34AFE2 0%, #0274BE 100%) !important;
  filter: brightness(0.75);
}

.card-border {
  border: 1px solid rgba(75, 85, 99, 0.50);
}